---
import { Image } from "astro:assets";
import Layout from "../../components/Layout/Layout.astro";
import Link from "../../components/Layout/Link.astro";
import Collage from "../../components/MainPage/Collage.astro";
import LiveClock from "../../components/MainPage/LiveClock.astro";
import { ArrowRight } from "@lucide/astro";

import picture from "../../assets/aboutme/me.jpg";
import { Icon } from "astro-icon/components";

import SkillsTerminal from "../../components/About/SkillsTerminal.astro";
import SkillSection from "../../components/About/SkillSection.astro";

type EducationEntry = {
  institution: string;
  name: string;
  majors?: string;
  dateRange: string;
  link?: string;
  icon: {
    name: string;
    size?: number;
  };
};
const educations: EducationEntry[] = [
  {
    institution: "Monash University",
    name: "Bachelor of Computer Science & Bachelor of Commerce",
    majors: "Data Science / Business Analytics",
    dateRange: "Mar 2021 – Sep 2025",
    link: "https://www.myequals.net/sharelink/246c086d-2c3e-4e98-abbc-eb12f2716307/988fe4c2-b756-4943-9d39-4aff2c38c7a0",
    icon: {
      name: "ph:graduation-cap",
    },
  },
];

type CertificationEntry = {
  institution: string;
  name: string;
  platform?: string;
  link?: string;
};
const certifications: CertificationEntry[] = [
  {
    institution: "DeepLearning.AI & AWS",
    name: "Data Engineering",
    platform: "Coursera",
    link: "https://www.coursera.org/account/accomplishments/professional-cert/64N2TD5SHQWE?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=prof",
  },
];
---

<Layout>
  <!--  -->
  <div class="content-width px-4 mb-24">
    <div
      data-bg="#f9f7f7"
      class="md:grid md:grid-cols-[55%_45%]
    overflow-x-clip min-h-[550px] md:h-[calc(100vh-80px)] items-center pb-16 pt-8 md:pt-0"
    >
      <div class="my-auto md:pr-10">
        <h1 class="text-5xl font-serif mb-6">
          Hey, I'm <span class="font-cursive-regular">Nadzmi!</span>
        </h1>

        <p class="text-lg mb-6 leading-tight text-pretty">
          I've always wanted to be an inventor ever since I was a kid. I used to
          take toys apart just to see what was inside, and reassemble them into
          something new. I discovered programming in my last year of high
          school, learning Python, trying out libraries like Turtle and Tkinter,
          and since then, I've never looked back. Turns out coding is just a
          faster way to build things.
          <br />
          <br />
          Nowadays I spend most of my time trying new tools (recently it’s Astro)
          or building whatever I feel like building, like <a
            class="underline"
            href="https://vocabforest.com/"
            target="_blank">vocabforest.com</a
          >.
          <br />
          <br />
          A bit more about me: I LOVE chess. I started competing recently, and my
          current goal is to reach 2000 FIDE rating. You can check my live rating
          <a
            class="underline"
            href="https://ratings.fide.com/profile/573006424"
            target="_blank">here</a
          >.
        </p>
        <div class="flex items-center">
          <Link
            class="flex items-center w-fit py-1.5 pl-3 pr-2 gap-1
       text-white text-sm bg-nav-link hover:bg-black active:bg-black mb-1 mr-4"
            href="/Nadzmi_Resume.pdf"
            openNew={true}
          >
            Resume <Icon
              name="ph:arrow-up-right"
              size={18}
              class="translate-y-[1px]"
            />
          </Link>
          <div class="flex gap-2 items-center">
            <Link
              class="hover-underline-animation pb-1 text-black/75 hover:text-black"
              href="https://github.com/nadzmi27"
              openNew={true}
            >
              <Icon name="ph:github-logo" size={24} />
            </Link>
            <Link
              class="hover-underline-animation pb-1 text-black/75 hover:text-black"
              href="https://au.linkedin.com/in/nadzmi-ag-thomas-0267a6219"
              openNew={true}
            >
              <Icon name="ph:linkedin-logo" size={24} />
            </Link>
            <Link
              class="hover-underline-animation pb-1 text-black/75 hover:text-black"
              href="https://www.kaggle.com/nadzmiagthomas/code"
              openNew={true}
            >
              kaggle
            </Link>
            <Link
              class="hover-underline-animation pb-1 text-black/75 hover:text-black"
              href="mailto:nadzmiagthomas@gmail.com"
            >
              <Icon name="ph:envelope-simple" size={24} />
            </Link>
          </div>
          <!-- <Link
            class="flex items-center w-fit py-1.5 pl-3 pr-2 gap-1
       text-white text-lg bg-nav-link hover:bg-black active:bg-black"
            href="/Nadzmi_Resume.pdf"
            openNew={true}
          >
            Resume <Icon
              name="ph:arrow-up-right"
              size={18}
              class="translate-y-[1px]"
            />
          </Link> -->
        </div>
      </div>

      <!-- Picture -->
      <div class="hidden h-full md:flex flex-col items-center justify-center">
        <Image
          src={picture}
          alt="Picture of me"
          loading="eager"
          class="max-w-[300px] shrink"
        />
        <p class="text-black/50 mt-1">I need a better picture :p</p>
      </div>
    </div>

    <!-- Education and Certification -->
    <div class="mb-16 md:mb-20 md:mt-16 lg:mt-0">
      <h1 class="text-2xl font-semibold mb-2">Education and Certifications</h1>
      <div class="flex flex-col md:flex-row max-w-[1048px] gap-8">
        <div class="basis-1/2">
          <h2 class="text-xs tracking-wide text-neutral-400 mb-2.5">
            Education
          </h2>
          <div class="flex flex-col">
            {
              educations.map((educ) => {
                return (
                  <div class="flex items-center gap-4">
                    <div class="bg-black/5 w-12 h-12 flex items-center justify-center">
                      <Icon
                        class=""
                        name={educ.icon.name}
                        size={educ.icon.size ?? 32}
                      />
                    </div>
                    <Link
                      class="flex flex-col text-nav-link hover:text-black"
                      href={educ.link}
                    >
                      <span class="flex">
                        <p class="font-semibold text-black">
                          {educ.institution}
                        </p>
                        <p class="ml-auto text-black">{educ.dateRange}</p>
                      </span>
                      <i class="text-pretty">{educ.name}</i>
                      {/* {educ.majors && <i>{educ.majors}</i>} */}
                      <span class="flex items-center gap-1  ">
                        <i>{educ.majors}</i>
                        <Icon name="ph:arrow-square-out" />
                      </span>
                    </Link>
                  </div>
                );
              })
            }
          </div>
        </div>
        <!-- Certification -->
        <div class="basis-1/2 md:pl-2">
          <h2 class="text-xs tracking-wide text-neutral-400 mb-2.5">
            Certifications
          </h2>
          <div class="flex items-center gap-4 pb-1 mb-2">
            {
              certifications.map((cert) => {
                return (
                  <Link
                    class="flex flex-col text-nav-link hover:text-black"
                    href={cert.link}
                  >
                    <span class="flex text-black">
                      <p class="font-semibold">{cert.institution}</p>
                      {cert.platform && <p class="ml-1">| {cert.platform}</p>}
                    </span>
                    <span class="flex items-center gap-1">
                      <i>{cert.name}</i>
                      <Icon name="ph:arrow-square-out" />
                    </span>
                  </Link>
                );
              })
            }
          </div>
          <!-- <p class="text-black/50 border-t text-sm pt-1">More to come as I complete them</p> -->
        </div>
      </div>
    </div>

    <!-- Skills -->
    <div>
      <h1 class="text-2xl font-semibold mb-4">Skills</h1>
      <SkillSection />
    </div>
  </div>
</Layout>
