---
import Tooltip from "../Tooltip";
import Link from "../Link.astro";
import { Image, getImage } from "astro:assets";
import { Icon } from "astro-icon/components";
import watercolor from "../assets/watercolor.webp";
import paper from "../../assets/paper.avif";
const paperBg = await getImage({ src: paper });

interface Skill {
  icon?: string;
  name?: string;
  size?: number;
}

interface ExternalLink extends Skill {
  href: string;
}

interface Props {
  title: string;
  label: string;
  description: string;
  image: ImageMetadata;
  imageAlt?: string;
  href?: string;
  tooltip?: string;
  links?: ExternalLink[];
  skills?: Skill[];
  borderColor?: string;
  bgColor?: string;
  skillColor?: string;
  skillBorder?: string;

  theme?: "light" | "dark";
}

const {
  title,
  label,
  description,
  image,
  imageAlt = "",
  href = "#",
  tooltip = "Read case study",
  links,
  skills,
  borderColor = "#000000",
  bgColor = "#FFFEF2",
  skillColor = "#FFFDD1",
  skillBorder = "000000",
  theme = "light",
} = Astro.props;
---

<div class="relative">
  <Tooltip client:visible tooltip={tooltip}>
    <Link href={href} openNew={true} class="hover:brightness-95">
      <div
        class:list={[
          "card-texture w-full h-fit px-4 border shadow-sm font-sans pointer-events-none",
          theme === "dark" ? "text-white" : "text-black",
        ]}
        style={`--bg-url: url(${paperBg.src}); background-color: ${bgColor};`}
      >
        <!-- Header -->
        <div class="px-0.5 pt-4 pb-3.5">
          <h1 class="font-bold text-xl">
            {title}
          </h1>
          <h2 class="font-medium text-base">
            {label}
          </h2>
        </div>
        <!-- Image -->
        <div class="relative">
          <Image
            src={image}
            alt={imageAlt}
            loading="eager"
            class="w-full block border"
            style={`border-color: ${borderColor};`}
            width={image.width}
            height={image.height}
          />
          <!-- Sits on top of the image, simulating the paper casting a shadow inward -->
          <div
            class="absolute inset-0 shadow-[inset_0_0.5px_12px_rgba(0,0,0,0.35)]"
          >
          </div>
        </div>
        <!-- Description -->
        <p class="px-0.5 pt-3 text-pretty leading-tight">
          {description}
        </p>
        <!-- Skills -->
        <div class="skills-divider mt-4 pt-4 py-4 flex flex-wrap gap-2">
          {
            skills?.map((skill) => (
              <div
                class="card-texture flex items-center gap-1.5 px-2 py-1 uppercase text-sm border"
                style={`background-color: ${skillColor}; border-color: ${skillBorder}`}
              >
                <Icon
                  name={skill.icon}
                  size={skill.size ?? 18}
                  class="shrink-0"
                />
                <span>{skill.name}</span>
              </div>
            ))
          }
        </div>
      </div>
    </Link>
  </Tooltip>
  <!-- Sits outside tooltip, absolutely positioned to match header -->
  <div
    class="absolute top-[31px] right-[16.5px] font-sans font-medium flex flex-row gap-2"
  >
    {
      links?.map((link) => (
        <Link
          href={link.href}
          openNew={true}
          class="card-texture flex flex-row items-center gap-2 p-2 lg:px-2 lg:py-1 border hover:brightness-95 -translate-y-0.5 lg:translate-none"
          style={`--bg-url: url(${paperBg.src}); background-color: var(--color-creamy-white); border-color: #000`}
        >
          {link.name && <span class="hidden lg:block">{link.name}</span>}
          <Icon name={link.icon} size={link.size ?? 18} />
        </Link>
      ))
    }
  </div>
</div>
<style>
  /* Card Texture */
  .card-texture {
    position: relative;
  }

  .card-texture::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--bg-url); /* move bg image here */
    background-size: 100% auto;
    background-repeat: repeat-y;
    mix-blend-mode: multiply;
    opacity: 0.5; /* control strength here */
    z-index: 0;
  }

  .card-texture > * {
    position: relative;
    z-index: 1;
  }

  /* Skills  Divider*/
  .skills-divider {
    background-image: repeating-linear-gradient(
      90deg,
      #00000060 0px,
      /* Dash Length */ #00000060 8px,
      transparent 8px,
      transparent 12px
    );
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: top center;
  }
</style>
