---
import PostCardEntry from "../../components/PostCardEntry.astro";
import Layout from "../../components/Layout/Layout.astro";

import { getCollection, type CollectionEntry } from "astro:content";
import type { GetStaticPaths } from "astro";

type Post = CollectionEntry<"posts">;

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts: Post[] = (await getCollection("posts")).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime(),
  );

  const fakePosts = Array(5).fill(posts).flat();
  return paginate(fakePosts, {
    pageSize: 4,
  });
};

const { page } = Astro.props as {
  page: {
    data: Post[];
    currentPage: number;
    lastPage: number;
    url: {
      prev?: string;
      next?: string;
    };
  };
};

function groupByYear(posts: Post[]) {
  return posts.reduce((acc: Record<string, Post[]>, post) => {
    const year = new Date(post.data.date).getFullYear().toString();

    (acc[year] ??= []).push(post);

    return acc;
  }, {});
}

const grouped = groupByYear(page.data);
const groupedEntries = Object.entries(grouped).sort(
  ([a], [b]) => Number(b) - Number(a),
);
---

<Layout title="Blog" backgroundColor="var(--color-blog-background)">
  <div data-bg="var(--color-blog-background)" class="content-width mb-12">
    <div class="content-width px-5 md:px-4 py-6 flex flex-col gap-8 mb-2">
      {
        groupedEntries.map(([year, posts]) => (
          <div>
            <h2 class="text-lg font-semibold mb-4">{year}</h2>
            <div class="flex flex-col gap-4">
              {posts.map((post) => (
                <PostCardEntry id={post.id} />
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <nav class="flex justify-center items-center gap-4">
      <div class="w-24 flex justify-end text-black/80 hover:text-black">
        {page.url.prev && <a href={page.url.prev}>← Previous</a>}
      </div>

      <span class="flex items-center">
        Page <input
          id="page-input"
          class="w-8 h-8 mx-2 border focus:outline-none text-center"
          value={page.currentPage}
          placeholder={String(page.currentPage)}
        /> of {page.lastPage}</span
      >
      <div class="w-24 flex justify-start text-black/80 hover:text-black">
        {page.url.next && <a href={page.url.next}>Next →</a>}
      </div>
    </nav>
  </div>
</Layout>

<script
  define:vars={{
    currentPage: page.currentPage,
    lastPage: page.lastPage,
    base: import.meta.env.BASE_URL,
  }}
>
  document.getElementById("page-input").addEventListener("keydown", (e) => {
    if (e.key !== "Enter") return;
    const page = parseInt(e.target.value, 10);
    if (page >= 1 && page <= lastPage) {
      window.location.href = `${base}/blog/${page}`;
    } else if (page > lastPage) {
      window.location.href = `${base}/blog/${lastPage}`;
    } else {
      e.target.value = `${currentPage}`;
    }
  });
</script>
