---
import { ClientRouter } from "astro:transitions";
import Footer from "./Footer.astro";
import Header from "./Header.tsx";
import "../../styles/global.css";
const base = import.meta.env.BASE_URL;
const segments = Astro.url.pathname.split("/").filter(Boolean);
const {
  title = "Nadzmi's Porfolio",
  description = "Nadzmi's portfolio",
  paddingTop = true,
  showHeader = true,
  showFooter = true,
  backgroundColor = "bg-background",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href=`${base}/favicon.svg` />
    <link rel="icon" href=`${base}/favicon.ico` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class={backgroundColor}>
    {showHeader && <Header client:load segments={segments} base={base} />}
    <main class:list={["min-h-screen", paddingTop ? "pt-[80px]" : ""]}>
      <slot />
    </main>
    {showFooter && <Footer />}
    <script>
      import "wired-elements";
    </script>
  </body><!-- {showHeader && <Header client:load segments={segments} base={base} />} -->
</html>

<style>
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
