---
import { Icon } from "astro-icon/components";
import Tooltip from "../Tooltip";
import { softwareEntries, type SkillsEntry } from "./Skills";
interface Props {
  category: string;
  skillEntries: SkillsEntry[];
}
const { category = "f", skillEntries = softwareEntries } = Astro.props;
---

<div class="border w-full h-fit flex flex-col font-mono">
  <div class="bg-black/10 border-b flex flex-row items-center py-2 pl-4">
    <p>~/portfolio/skills/{category}/</p>
    <!-- <span
      class="relative bottom-[-1px] h-[16px] w-[6px] ml-1 bg-nav-link animate-terminal-fade"
    ></span> -->
  </div>
  <div class="bg-black/5 flex flex-col pt-4 pb-6">
    {
      skillEntries.map((entry) => {
        return (
          <div class="pl-6 mb-6">
            <div class="flex gap-2 mb-2">
              <p>$</p>
              <p>ls</p>
              <p>./{entry.category}</p>
            </div>
            <div class="flex flex-wrap gap-2 cursor-default">
              {entry.skills.map((skill) =>
                skill.tooltip ? (
                  <Tooltip client:load tooltip={skill.tooltip}>
                    <div class="bg-blue-100 flex items-center gap-1.5 px-2 py-1 uppercase text-sm border hover:brightness-95">
                      {skill.icon && (
                        <Icon
                          name={skill.icon}
                          size={skill.size ?? 18}
                          class="shrink-0"
                        />
                      )}
                      <p>{skill.name}</p>
                    </div>
                  </Tooltip>
                ) : (
                  <div class="bg-blue-100 flex items-center gap-1.5 px-2 py-1 uppercase text-sm border hover:brightness-95">
                    {skill.icon && (
                      <Icon
                        name={skill.icon}
                        size={skill.size ?? 18}
                        class="shrink-0"
                      />
                    )}
                    <p>{skill.name}</p>
                  </div>
                ),
              )}
            </div>
          </div>
        );
      })
    }
  </div>
</div>
