---
import Header from "../components/header/Header2.tsx";
import CursorCTA from "../components/CursorCTA_old.tsx";
import "../styles/global.css";
import HeaderClient from "../components/header/Header";
const base = import.meta.env.BASE_URL;
const segments = Astro.url.pathname.split("/").filter(Boolean);
const {
  title = "Nadzmi's Porfolio",
  paddingTop = true,
  showHeader = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${base}/favicon.svg` />
    <link rel="icon" href=`${base}/favicon.ico` />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background">
    <main class:list={["min-h-screen", paddingTop ? "pt-[80px]" : ""]}>
      <slot />
    </main>
  </body>
  {showHeader && <Header client:load segments={segments} base={base} />}
</html>

<style>
  html,
  body {
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
